<div class="user_name"><p>Alexis Renault</p></div>
<div class="formulaire">
  <form>
    <div class="form-group row">
      <label for="inputEmail" class="col-12 col-form-label">Email address</label>
      <div class="col-12">
        <input type="email" class="form-control" id="inputEmail" value="{{email}}" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group row">
      <label for="dateInput" class="col-12 col-form-label">Name</label>
      <div class="col-12">
        <input class="form-control" type="text" value="{{name}}" id="dateInput">
      </div>
    </div>
    <div class="form-group row">
      <label for="InputOldPassword" class="col-12 col-form-label">Ancien mot de passe</label>
      <div class="col-12">
        <input type="password" class="form-control" id="InputOldPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <label for="InputNewPassword" class="col-12 col-form-label">Nouveau mot de passe</label>
      <div class="col-12">
        <input type="password" class="form-control" id="InputNewPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <label for="InputConfirmNewPassword" class="col-12 col-form-label">Confirmer nouveau mot de passe</label>
      <div class="col-12">
        <input type="password" class="form-control" id="InputConfirmNewPassword" placeholder="Password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
