/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* On enlève les marges initiales */
body {
  margin: 0px;

}

/*Dialog sans padding*/
.myapp-no-padding-dialog .mat-dialog-container {
 padding: 0;
}

.myapp-no-padding-dialog .mat-dialog-content {
  padding: 15px;
  margin: 0;
}
