<div id="connect-modal">
  <div class="header-modal d-flex justify-content-between">
    <div class=""></div>
    <span class=""><i class="fa fa-arrow-circle-right"></i>Identifiez-vous</span>
    <i class="fa fa-close close-icon"(click)="onNoClick()"></i>
  </div>

  <div mat-dialog-content>
    <div>
      <p class="p-connect">Connectez-vous afin d'accéder à toutes les fonctionnalités du site ( ajout de cartes, informations supplémentaires...</p>
    </div>
    <div class="connect-form">
      <mat-form-field>
        <input matInput tabindex="1" [(ngModel)]="login">
        <mat-placeholder><i class="fa fa-user"></i> <b> Identifiant</b></mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput tabindex="1" [(ngModel)]="password">
        <mat-placeholder><i class="fa fa-lock"></i> <b> Password</b></mat-placeholder>
      </mat-form-field>
      <div class="form-group button-form">
        <button type="submit" class="btn connect-button" (click)="submitLogIn()">Se connecter</button>
      </div>
    </div>
    <div class="links-connect d-flex justify-content-between">
      <button class="subscribe pull-left p-6" (click)="openSignupPanel()">S'inscrire maintenant</button>
      <a class="forgot-password pull-right p-6">Mot de passe oublié ?</a>
    </div>
  </div>
</div>


