div.header-modal{
  background-color: #3f51b5;
  color:white;
  text-align:center;
  padding:10px;
}
div.header-modal span{
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight:500;
}

div.header-modal i{
  margin-right:10px;
}
div.header-modal i.close-icon{
  cursor:pointer;
}
p.p-connect{
  color: #6e6e6e;
}
.connect-form > * {
  width: 100%;
}
.connect-form{
  text-align:center;
  width: 100%;
}
.connect-form i{
  color: #3f51b5;
}
.connect-form input{
  color: #3f51b5;
  padding-left: 10px;
}

.connect-form .button-form{
  margin-bottom: 0px;
}
.connect-form .connect-button{
  background-color: #3f51b5;
  color:white;
}

.connect-form .connect-button:hover{
  background-color: white;
  color: #3f51b5;
  border-color: #3f51b5;
  text-align:center;
}

.links-connect a{
  color: #3f51b5;
  cursor: pointer;
}

.subscribe {
  padding: 0;
  border: none;
  background: none;
  color: #3f51b5;
  cursor: pointer;
}

.button-login button {
  position: absolute;
  top: 1%;
  left: 9%;
  background-color: rgba(31, 31, 71, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 100;
}

.button-login button > i{
  font-size: 25px;
}

.button-login button:hover{
  background-color: white;
  color: rgba(31, 31, 71, 0.8);
  border: none;
  cursor: pointer;
}



