div.header-modal{
  background-color: #DC2531;
  color:white;
  text-align:center;
  padding:10px;
}
div.header-modal span{
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight:500;
}

div.header-modal i{
  margin-right:10px;
}
div.header-modal i.close-icon{
  cursor:pointer;
}

img.img-card{
  width:100%;
}

/*Photo*/
div.avatar-row{
  margin: 10px 10px 20px 10px;
}
img.avatar {
  width: 50px;
  height: 50px;
}

span.author{
  font-weight: bold;
  color: #DC2531;
  padding-left: 10px;
}

.form-group {
  margin : 0 auto;
  width : 70%;
}

div .center-input-material {
  margin: 0 auto;
  width : 100%;
}

.mat-form-field.mat-form-field {
  width: 100%;
}
