<div id="connect-modal">
  <div class="header-modal d-flex justify-content-between">
    <div class=""></div>
    <span class="">La caserne de la tour d'Auvergne</span>
    <i class="fa fa-close close-icon"(click)="onNoClick()"></i>
  </div>

  <div md-dialog-content>
    <div class="row">
      <div class="img-card col-8">
        <img class="thecard rounded" src="../../../assets/test.jpg" alt="eglise jeanne d'arc"/>
      </div>
      <div class="legend col-4">
        <div class="row avatar-row">
          <img class="avatar rounded-circle" src="../../../assets/profil.png"/>
          <span class="author">Antoine Ravet</span>
        </div>
        <div class="card">
          <div class="card-header">
            Quimper
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>"La caserne de la tour d'Auvergne"</p>
              <footer class="blockquote-footer">
                Année <cite title="Source Title">1978</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

