<div id="connect-modal">
  <div class="header-modal d-flex justify-content-between">
    <div class=""></div>
    <span class="">Carte n° {{this.data.cartePostal.varianteCarte.id.cartePostale.id}}</span>
    <i class="fa fa-close close-icon"(click)="onNoClick()"></i>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="img-card .col-sm-4	.col-md-4	.col-lg-4 col-6">
        <img  *ngIf="this.data.cartePostal.base64Photo === null || this.data.cartePostal.base64Photo=== ''"  class="image" src="../../../assets/img/notfound.jpg"/>
        <img *ngIf="this.data.cartePostal.base64Photo && this.data.cartePostal.base64Photo!= ''" class="image" [src]="_sanitizer.bypassSecurityTrustResourceUrl('data:image/PNG;base64,' + this.data.cartePostal.base64Photo)" />
      </div>
      <div class="legend col-6">
        <div class="row pull-right row-button">
          <button  *ngIf="!this.data.cartePostal.owned" [mat-dialog-close]="data.cartePostales" (click)="addUserOnCard()" type="button" class="btn btn-primary">Je possède cette carte! <i class="fa fa-plus"></i> </button>
          <button  *ngIf="this.data.cartePostal.owned" [mat-dialog-close]="data.cartePostales" (click)="deleteUserOnCard()" type="button" class="btn btn-danger">Je ne possède plus cette carte! <i class="fa fa-minus"></i> </button>
        </div>
        <div class="row avatar-row">
          <img class="avatar rounded-circle" src="../../../assets/img/profil.png"/>
          <span class="author">{{this.data.cartePostal.varianteCarte.id.cartePostale.editeur.nom}}</span>
        </div>
        <div class="card">
          <div class="card-header">
            <p><strong>N°:</strong> {{this.data.cartePostal.varianteCarte.id.cartePostale.id}}</p>
            <p><strong>Commune:</strong> {{this.data.cartePostal.varianteCarte.id.cartePostale.commune.nom}}</p>
            <p><strong>Monument:</strong> {{this.data.cartePostal.varianteCarte.id.cartePostale.nomMonument}}</p>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Légende: "{{this.data.cartePostal.varianteCarte.legende}}"</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

