<div id="connect-modal">
  <div class="header-modal d-flex justify-content-between">
    <div class=""></div>
    <span class="">Ajouter une carte</span>
    <i class="fa fa-close close-icon"(click)="onNoClick()"></i>
  </div>

  <div mat-dialog-content>
    <div *ngIf="createNewEditor === true">
      <p class="title-update-card">Modifier la carte</p>
      <form class="form-inline container-fluid">
        <div class="form-group row">
          <mat-form-field>
            <input class="input-update-card" matInput placeholder="Nom éditeur" [formControl]="newEditorCtrl">
          </mat-form-field>
        </div>
        <div class="form-group row">
          <mat-form-field>
            <input class="input-update-card" matInput placeholder="Numéro éditeur" [formControl]="newEditorNumber">
          </mat-form-field>
        </div>
        <div class="col-12 button-submit">
          <button class="btn btn-primary" (click)="closeNewEditor()">Retour</button>
          <button class="btn btn-primary" (click)="addEditor()">Ajouter</button>
        </div>
      </form>
    </div>

    <div *ngIf="createNewEditor === false">
      <form class="form-inline container-fluid">
        <div class="form-group">
          <label for="exampleInputFile">Image de la carte</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="handleFileSelect($event)">
          <small id="fileHelp" class="form-text text-muted">Ajouter la légende dans le champ ci-dessous</small>
        </div>
        <div class="form-group row">
          <mat-form-field>
            <input (keypress)="changementCommune($event)" class="input-update-card" matInput placeholder="Commune" [matAutocomplete]="commune" [formControl]="communeCtrl">
            <mat-autocomplete #commune="matAutocomplete" [displayWith]="displayCommune.bind(this)">
              <mat-option  *ngFor="let communeCard of filteredCommunes | async" [value]="communeCard.insee">
                <span>{{ communeCard.nom }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="old-input-value">{{cardCommune}}</div>
        </div>
        <div class="form-group row">
          <mat-form-field>
            <input matInput placeholder="Editeur" class="input-update-card" [matAutocomplete]="editeur"
                   [formControl]="editeurCtrl">
            <mat-autocomplete #editeur="matAutocomplete" [displayWith]="displayEditeur.bind(this)">
              <mat-option *ngFor="let editeur of filteredEditeur | async" [value]="editeur.id">
                <span>{{ editeur.nom }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button class="btn btn-primary" (click)="openNewEditor()">Créer</button>
          <div class="old-input-value">{{editor}}</div>
        </div>
        <div class="form-group row">
          <mat-form-field>
            <input class="input-update-card" matInput placeholder="Numéro de la carte" [formControl]="codeEditeurCtrl">
          </mat-form-field>
        </div>
        <div class="form-group row">
          <mat-form-field>
            <input (keypress)="changementLegende($event)" class="input-update-card" matInput placeholder="Légende" [matAutocomplete]="legende"
                   [formControl]="legendeCtrl">
            <mat-autocomplete #legende="matAutocomplete">
              <mat-option *ngFor="let legende of filteredLegende | async" [value]="legende">
                <span>{{ legende }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="old-input-value">{{cardLegend}}</div>
        </div>
        <div class="col-12 button-submit">
          <button class="btn btn-primary" (click)="addCard()">Sauvegarder</button>
        </div>
      </form>
    </div>
  </div>
</div>
