.user_name {
  color : white;
  padding : 3rem 0 3rem 8%;
  font-size : 2rem;
}

.diaporama {
  max-width : 90%;
  margin: 0 auto;
}

.cartePostale {
  position: relative;
  width:32%;
  margin-bottom : 2rem;
  display : inline-block;
  cursor : pointer;
}

.cartePostale > img{
  display:block;
  margin: 0 auto;
  width:90%;
  height: 20rem;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 5%;
  right: 5%;
  background-color: rgba(31, 31, 71, 0.8);
  overflow: hidden;
  width: 90%;
  height:0;
  transition: .5s ease;
}

.cartePostale:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 4rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.singleCard {
  width : 100%;
}

.cardInfos {
  width : 60%;
  position : relative;
  display : block;
  margin : 0 auto;
  background-color : white;
}

.cardInfos .return-button {
  color : black;
  cursor : pointer;
  position : absolute;
  top : 1rem;
  left : 1rem;
  font-weight: bold;
}

.singlePostCard {
  width : 59%;
  height: 25rem;
  object-fit: cover;
  display : inline-block;
  vertical-align:top;
}

.cardInfosText {
  width : 39%;
  height : 25rem;
  padding-left : 1rem;
  display : inline-block;
  vertical-align:top;
  color : black;
  overflow-y : scroll;
}

.cardInfosText .last-element {
  padding-bottom : 2rem;
}

button.button-close{
  color: white;
  border: none;
  cursor: pointer;
  background-color: Transparent;
  height:3rem;
}

.title-card {
  font-weight: bold;
  font-size: 1.7rem;
}

.input-update-card {
  background-color : white;
  padding : 0.5rem 0;
  line-height : 1rem;
}

.title-update-card
{
  font-weight: bold;
  font-size: 1.7rem;
}

.old-input-value {
  font-size:0.7rem;
  margin-bottom : 1rem;
}
