<div class="user_name"><p>Alexis Renault</p></div>
<div class="diaporama" *ngIf="!singleCard">
  <div class="cartePostale" *ngFor="let carte of cartePostales" (click)="openSingleCard(carte)">
    <img *ngIf="carte.face !== null" src="../../assets/img/{{carte.face}}"/>
    <img *ngIf="carte.face === null" src="../../../assets/img/notfound.jpg"/>
    <div class="overlay">
      <div class="text"><i class="fa fa-search" aria-hidden="true"></i></div>
    </div>
  </div>
</div>

<div class="singleCard" *ngIf="singleCard">
    <div class="cardInfos">
      <div class="div-button" (click)="closeSingleCard()">
        <span><i class="fa fa-chevron-left"></i></span>
        <span>Retour</span>
      </div>
      <img class="singlePostCard" src="../../assets/img/{{cardUrl}}"/>
      <div class="cardInfosText">

        <div *ngIf="updateCardModule === false">
          <div>
            <p class="title-card">Commune</p>
            <p>{{commune}}</p>
          </div>
          <div>
            <p class="title-card">Editeur</p>
            <p>{{editor}}</p>
          </div>
          <div>
            <p class="title-card">Légende</p>
            <p>{{cardLegend}}</p>
          </div>
          <div><button class="btn btn-primary" (click)="openUpdateCard()">Mettre à jour</button></div>
          <div><button class="btn btn-primary" (click)="deleteCard()">Supprimer</button></div>
        </div>

        <div *ngIf="updateCardModule === true">
          <form [formGroup]="updateForm" (ngSubmit)="updateCard($event)">
            <div class="form-group row">
              <label for="communeInput" class="col-12 col-form-label">Commune</label>
              <div class="col-12">
                <input class="form-control" type="text" id="communeInput" formControlName="commune">
              </div>
            </div>
            <div class="form-group row">
              <label for="editeurInput" class="col-12 col-form-label">Editeur</label>
              <div class="col-12">
                <input class="form-control" type="text" id="editeurInput" formControlName="editeur">
              </div>
            </div>
            <div class="form-group row">
              <label for="legendeInput" class="col-12 col-form-label">Légende</label>
              <div class="col-12">
                <input class="form-control" type="text" id="legendeInput" formControlName="legende">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>
