<div class="user_name"><p>Alexis Renault</p></div>
<div class="diaporama" *ngIf="!singleCard">
  <div class="cartePostale" *ngFor="let carte of cartePostales" (click)="openSingleCard(carte)">
    <img *ngIf="carte.face !== null" src="../../assets/img/{{carte.face}}"/>
    <img *ngIf="carte.face === null" src="../../../assets/img/notfound.jpg"/>
    <div class="overlay">
      <div class="text"><i class="fa fa-search" aria-hidden="true"></i></div>
    </div>
  </div>
</div>

<div class="singleCard" *ngIf="singleCard">
    <div class="cardInfos">
      <div class="div-button" (click)="closeSingleCard()">
        <span><i class="fa fa-chevron-left"></i></span>
        <span>Retour</span>
      </div>
      <img class="singlePostCard" src="../../assets/img/{{cardUrl}}"/>
      <div class="cardInfosText">
        <div *ngIf="!updateCard">
          <div>
            <p class="title-card">Commune</p>
            <p>{{commune}}</p>
          </div>
          <div>
            <p class="title-card">Editeur</p>
            <p>{{editor}}</p>
          </div>
          <div>
            <p class="title-card">Légende</p>
            <p>{{cardLegend}}</p>
          </div>
          <div><button (click)="openUpdateCard()">Mettre à jour</button></div>
        </div>
        <div *ngIf="updateCard">

        </div>
      </div>
    </div>
</div>
