<nav id="header" class="navbar navbar-inverse container">
  <div *ngIf="filter === false" class="col-12 hide-filter">
    <i (click)="swapFilter()" class="fa fa-caret-down"></i>
  </div>
  <form *ngIf="filter === true" class="form-inline container-fluid">
    <div class="col-6 filter-input">
      <i class="fa fa-building"></i>
      <mat-form-field>
        <input matInput placeholder="Commune"[matAutocomplete]="auto" [formControl]="communeCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let commune of filteredCommunes | async" [value]="commune.name">
            <img style="vertical-align:middle;" aria-hidden src="{{commune.flag}}" height="25" />
            <span>{{ commune.name }}</span> |
            <small>Population: {{commune.population}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-12 button-submit">
      <button class=""><i class="fa fa-search"></i></button>
    </div>
  </form>
  <div *ngIf="filter === true" class="col-12 hide-filter">
    <i (click)="swapFilter()" class="fa fa-caret-up"></i>
  </div>
</nav>
