<nav id="header" class="navbar navbar-inverse container">
  <div *ngIf="filter === false" class="col-12 hide-filter">
    <i (click)="swapFilter()" class="fa fa-caret-down"></i>
  </div>
  <form *ngIf="filter === true" class="form-inline container-fluid">
    <div class="col-6 filter-input">
      <i class="fa fa-building"></i>
      <mat-form-field>
        <input (keypress)="changementCommune($event)" matInput placeholder="Commune" [matAutocomplete]="commune" [formControl]="communeCtrl">
        <mat-autocomplete #commune="matAutocomplete" [displayWith]="displayCommune.bind(this)">
          <mat-option  *ngFor="let commune of filteredCommunes | async" [value]="commune.insee">
            <span>{{ commune.nom }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-6 filter-input">
      <i class="fa fa-university"></i>
      <mat-form-field>
        <input matInput placeholder="Type de monument" [matAutocomplete]="typeMonument" [formControl]="typeMonumentCtrl">
        <mat-autocomplete #typeMonument="matAutocomplete" [displayWith]="displayTypeMonument.bind(this)">
          <mat-option *ngFor="let typemonument of filteredTypeMonuments | async" [value]="typemonument.id">
            <span>{{ typemonument.libelle }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-6 filter-input">
      <i class="fa fa-users"></i>
      <mat-form-field>
        <input matInput placeholder="Editeur" [matAutocomplete]="editeur"
               [formControl]="editeurCtrl">
        <mat-autocomplete #editeur="matAutocomplete" [displayWith]="displayEditeur.bind(this)">
          <mat-option *ngFor="let editeur of filteredEditeur | async" [value]="editeur.id">
            <span>{{ editeur.nom }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-6 filter-input">
      <i class="fa fa-comments"></i>
      <mat-form-field>
        <input (keypress)="changementLegende($event)" matInput placeholder="Légende" [matAutocomplete]="legende"
               [formControl]="legendeCtrl">
        <mat-autocomplete #legende="matAutocomplete">
          <mat-option *ngFor="let legende of filteredLegende | async" [value]="legende">
            <span>{{ legende }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-12 button-submit">
      <button (click)="search()" class=""><i class="fa fa-search"></i></button>
    </div>
  </form>
  <div *ngIf="filter === true" class="col-12 hide-filter">
    <i (click)="swapFilter()" class="fa fa-caret-up"></i>
  </div>
</nav>
