<nav id="header" class="navbar navbar-inverse container">
  <form class="form-inline container">
    <i class="fa fa-building"></i>
    <input class="form-control mr-sm-2" type="text" placeholder="Filtrez par ville">
    <i class="fa fa-university"></i>
    <input class="form-control mr-sm-2" type="text" placeholder="Filtrez par monument">
    <i class="fa fa-user"></i>
    <input class="form-control mr-sm-2" type="text" placeholder="Filtrez par éditeur">
    <i class="fa fa-commenting"></i>
    <input class="form-control mr-sm-2" type="text" placeholder="Recherchez une légende">
    <button id="header-button-search" class="btn my-2 my-sm-0 pull-right" type="submit"><i class="fa fa-search"></i></button>
  </form>
</nav>
