<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <div class="col-nav">
      <div class="row-logo">
        <a href=""><img class="logo" src="../../../assets/img/logo.png" alt="logo geocarte"/></a>
      </div>
      <button (click)="getLog()">biteeee</button>
      <div class="item-nav" *ngIf="isConnected">
        <button type="button" class="btn btn-link" (click)="openMenuPage('myCards')" >Mes cartes</button>
      </div>
      <div class="item-nav" *ngIf="isConnected">
        <button type="button" class="btn btn-link" (click)="openMenuPage('profil')" >Profil</button>
      </div>
      <div class="item-nav" *ngIf="!isConnected">
        <button type="button" class="btn btn-link" (click)="openMenuPage('signup')" >S'inscrire</button>
      </div>
      <div class="item-nav" *ngIf="isConnected">
        <button type="button" class="btn btn-link" (click)="disconnect()">Se déconnecter</button>
      </div>
      <div class="bottom-nav">
        <ul class="website-list ">
          <li><a href=""><i class="fa fa-github"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li><a href=""><i class="fa fa-google"></i></a></li>
        </ul>
        <div class="div-button">
          <button class="button-close" type="button" md-button (click)="closeMenu()">
            <i class="fa fa-chevron-left"></i>
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <!--Bouton d'ouverture-->
  <div class="button-sidenav">
    <button type="button" md-button (click)="openMenu()">
      <i class="fa fa-bars"></i>
    </button>

    <div class="my-content">
      <div class="menuDiv" *ngIf="myCards || profil || signup">
        <app-mycards *ngIf="myCards"></app-mycards>
        <app-profil *ngIf="profil"></app-profil>
        <app-signup *ngIf="signup"></app-signup>
        <div class="div-button">
          <button class="button-close" type="button" md-button (click)="closeAll()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <app-map [cartesPostales]="this.cartesPostales"></app-map>
    </div>
  </div>
</mat-sidenav-container>
