/*================================= BOUTON DECLENCHEUR DE LA SIDENAV =======================================*/

.button-sidenav > button {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2000;
  background-color: rgba(31, 31, 71, 0.8);
  color: white;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index : 100;
}

.button-sidenav > button:hover {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2000;
  background-color: white;
  color: rgba(31, 31, 71, 0.8);
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.button-sidenav > button > i {
  font-size: 25px;
}

/*=================================== CUSTOM DE LA SIDENAV ================================================*/

/*Style globale et choix de la couleur*/
.sidenav {
  background-color: rgba(31, 31, 71, 0.8);
  width: 20%;
}

.sidenav .col-nav{
  position: relative;
  height: 100%;
}

/*Partie du logo*/
.sidenav div.row-logo{
  padding : 20px;
  text-align:center;
}

/*Taille du logo*/
.sidenav div.row-logo img.logo{
  width: 125px;
}

.sidenav .item-nav{
  text-align: right;
  padding : 20px;
}

.sidenav .item-nav button {
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-weight:bold;
}

.sidenav .item-nav a:hover{
  color: #ffc51f;
}

.sidenav ul.website-list{
  list-style: none;
  color:white;
  text-align: center;
  margin: 0;
  padding: 0;
  display:inline-block;
  width : 100%;
}

.sidenav ul.website-list>li{
  padding: 0 10px 0 10px;
  font-size: 25px;
  display: inline;
}

.sidenav ul.website-list>li>a{
  color:white;
}

.sidenav ul.website-list>li>a:hover{
  color: #ffc51f;
}

.sidenav div.bottom-nav{
  position: absolute;
  bottom : 0;
  width : 100%;
}
.sidenav div.div-button{
  text-align: right;
}
.sidenav button.button-close {
  background-color: white;
  color: rgba(31, 31, 71, 0.8);
  cursor: pointer;
  border: solid rgba(31, 31, 71, 0.8) 1px;
  margin: 20px;
  width: 50px;
  height: 50px;
}

.sidenav button.button-close:hover {
  color: #ffc51f;
}

/*Style pour les pages du menu*/

.sidenav-container div.my-content div.div-button{
  position : absolute;
  top : 1%;
  right : 1%;
}

.sidenav-container div.my-content div.div-button button.button-close{
  color: white;
  border: none;
  cursor: pointer;
  background-color: Transparent;
  width:5rem;
  height:5rem;
}

.sidenav-container div.my-content div.div-button button.button-close i{
  font-size : 25px;
}


.sidenav-container .menuDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width:100%;
  z-index : 2;
  background-color : black;
  opacity : 0.8;
  overflow : auto;
}
